/* app css stylesheet */

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#debug {
  margin-top: 50px;
}

/* Turn this on for the debug panel in the main page. */
.debug-visibility {
  visibility: hidden;
}

.ribbon-visibility {
  visibility: visible;
}

.git-hub-link-visibility {
  visibility: hidden;
}

@media screen and (max-width: 520px) {
  html, body {
    font-size: 12px;
  }

  .ribbon-visibility {
    visibility: hidden;
  }

  .git-hub-link-visibility {
    visibility: visible;
  }

    h1 {
    font-size: 27px;
    margin-top: 15px;
  }
}
